<!DOCTYPE html>
<!--
  ~ Magnum-Opus, system for analyzing userdata
  ~ Copyright (C) 2018 Wouter Doeland
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as
  ~ published by the Free Software Foundation, either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magnum-Opus web front-end</title>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <script type="text/x-template" id="modal-template">
        <div class="modal" style="display:block">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><slot name="header"></slot></h5>
                        <slot name="close-header">Close</slot>
                    </div>
                    <div class="modal-body">
                        <slot name="settings">Settings to edit</slot>
                    </div>
                    <div class="modal-footer">
                        <slot name="close-button">Close</slot>
                        <slot name="complete-button">Complete!</slot>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="delete-template">
        <div class="modal" style="display:block">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete <slot name="type"></slot></h5>
                        <slot name="close-header">Close</slot>
                    </div>
                    <div class="modal-body">
                        <slot name="value">Value to delete</slot>
                    </div>
                    <div class="modal-footer">
                        <slot name="close-button">Close</slot>
                        <slot name="complete-button">Delete</slot>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <div id="app" class="container">
        <input type="checkbox" id="openSettings" v-model="openSettings">
        <label class="form-check-label" for="openSettings">🛠️️ Settings</label>
        <input type="checkbox" id="openListFeatures" v-model="openListFeatures">
        <label class="form-check-label" for="openListFeatures">📜 List features</label>

        <hr>

        <div id="settings" v-if="openSettings" @close="openSettings = false">
            <!-- Delete item -->
            <delete v-if="deleteObject" @close="deleteObject = false">
                <span slot="type">{{ deleteType }}</span>
                <button class="close" type="button" slot="close-header" @click="deleteObject = false">&times;</button>
                <button type="button" class="btn btn-secondary" slot="close-button" @click="deleteObject = false" >Close</button>
                <button type="button" class="btn btn-danger" slot="complete-button" @click="confirmDelete">Delete</button>
                <p slot="value">{{ deleteData }}</p>
            </delete>

            <!-- New inserter -->
            <modal v-if="newInserter" @close="newInserter = false">
                <span slot="header">Create new inserter</span>
                <button class="close" type="button" slot="close-header" @click="newInserter = false" >&times;</button>
                <button type="button" class="btn btn-secondary" slot="close-button" @click="newInserter = false" >Close</button>
                <button type="button" class="btn btn-primary" slot="complete-button" @click="submitNewInserter">Create</button>

                <form slot="settings" @submit.prevent="submitNewInserter">
                    <div class="form-group">
                        <label>Inserter</label>
                        <select class="form-control" v-model="editedInserter.name">
                            <option v-for="availableInserter in availableInserters" v-bind:value="availableInserter">
                                {{ availableInserter }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Config</label>
                        <select class="form-control" v-model="editedInserter.config">
                            <option v-for="config in configs" v-bind:value="config.id">
                                #{{ config.id }}: {{ config.config }}
                            </option>
                        </select>
                    </div>
                </form>
            </modal>

            <!-- New computer -->
            <modal v-if="newComputer" @close="newComputer = false">
                <span slot="header">Create new computer</span>
                <button class="close" type="button" slot="close-header" @click="newComputer = false" >&times;</button>
                <button type="button" class="btn btn-secondary" slot="close-button" @click="newComputer = false" >Close</button>
                <button type="button" class="btn btn-primary" slot="complete-button" @click="submitNewComputer">Create</button>

                <form slot="settings" @submit.prevent="submitNewComputer">
                    <div class="form-group">
                        <label>Computer</label>
                        <select class="form-control" v-model="editedComputer.computer">
                            <option v-for="availableComputer in availableComputers" v-bind:value="availableComputer">
                                {{ availableComputer }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Inserter</label>
                        <select class="form-control" v-model="editedComputer.inserter">
                            <option v-for="inserter in inserters" v-bind:value="inserter.id">
                                #{{ inserter.id }}: {{ inserter.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Config</label>
                        <select class="form-control" v-model="editedComputer.config">
                            <option v-for="config in configs" v-bind:value="config.id">
                                #{{ config.id }}: {{ config.config }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="new-computer-enabled-checkbox" v-model="editedComputer.enabled">
                        <label class="form-check-label" for="new-computer-enabled-checkbox">Enabled</label>
                    </div>
                </form>
            </modal>

            <!-- New config -->
            <modal v-if="newConfig" @close="newConfig = false">
                <span slot="header">Create new config</span>
                <button class="close" type="button" slot="close-header" @click="newConfig = false" >&times;</button>
                <button type="button" class="btn btn-secondary" slot="close-button" @click="newConfig = false" >Close</button>
                <button type="button" class="btn btn-primary" slot="complete-button" @click="submitNewConfig">Create</button>

                <form slot="settings" @submit.prevent="submitNewConfig">
                    <div class="form-group">
                        <label>Config</label>
                        <input type="text" class="form-control" v-model="editedConfig.config">
                    </div>
                </form>
            </modal>

            <h2>🛠️ Settings</h2>

            <!-- New renderer -->
            <modal v-if="newRenderer" @close="newRenderer = false">
                <span slot="header">Create new renderer</span>
                <button class="close" type="button" slot="close-header" @click="newRenderer = false" >&times;</button>
                <button type="button" class="btn btn-secondary" slot="close-button" @click="newRenderer = false" >Close</button>
                <button type="button" class="btn btn-primary" slot="complete-button" @click="submitNewRenderer">Create</button>

                <form slot="settings" @submit.prevent="submitNewRenderer">
                    <div class="form-group">
                        <label>Renderer</label>
                        <select class="form-control" v-model="editedRenderer.renderer">
                            <option v-for="availableRenderer in availableRenderers" v-bind:value="availableRenderer">
                                {{ availableRenderer }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Config</label>
                        <select class="form-control" v-model="editedRenderer.config">
                            <option v-for="config in configs" v-bind:value="config.id">
                                #{{ config.id }}: {{ config.config }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="new-renderer-enabled-checkbox" v-model="editedRenderer.enabled">
                        <label class="form-check-label" for="new-renderer-enabled-checkbox">Enabled</label>
                    </div>
                </form>
            </modal>

            <!-- New renderFeature -->
            <modal v-if="newRenderFeature" @close="newRenderFeature = false">
                <span slot="header">Create new renderFeature</span>
                <button class="close" type="button" slot="close-header" @click="newRenderFeature = false" >&times;</button>
                <button type="button" class="btn btn-secondary" slot="close-button" @click="newRenderFeature = false" >Close</button>
                <button type="button" class="btn btn-primary" slot="complete-button" @click="submitNewRenderFeature">Create</button>

                <form slot="settings" @submit.prevent="submitNewRenderFeature">
                    <div class="form-group">
                        <label>Renderer</label>
                        <select class="form-control" v-model="editedRenderFeature.renderer">
                            <option v-for="renderer in renderers" v-bind:value="renderer.id">
                                #{{ renderer.id }}: {{ renderer.renderer }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Inserter</label>
                        <select class="form-control" v-model="editedRenderFeature.inserter">
                            <option v-for="inserter in inserters" v-bind:value="inserter.id">
                                #{{ inserter.id }}: {{ inserter.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Config</label>
                        <select class="form-control" v-model="editedRenderFeature.config">
                            <option v-for="config in configs" v-bind:value="config.id">
                                #{{ config.id }}: {{ config.config }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="new-renderfeature-enabled-checkbox" v-model="editedRenderFeature.enabled">
                        <label class="form-check-label" for="new-renderfeature-enabled-checkbox">Enabled</label>
                    </div>
                </form>
            </modal>

            <div>
                <h3>
                    Inserters
                </h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Config</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="inserter in inserters">
                            <td>#{{ inserter.id }}</td>
                            <td>{{ inserter.name }}</td>
                            <td>#{{ inserter.config }}</td>
                            <td @click="editInserter(inserter.id)" title="Edit object">&#128295;</td>
                            <td @click="deleteItem(inserter.id, 'inserter', '#' + inserter.id + ' with name: ' + inserter.name)" title="Remove object">&#10060;</td>
                        </tr>
                        <tr @click="addInserter()">
                            <td colspan="5">Add item</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <h3>
                    Computers
                </h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Linked inserter</th>
                            <th>Config</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="computer in computers">
                            <td>#{{ computer.id }}</td>
                            <td>{{ getCachedInserter(computer.computer).name }}</td>
                            <td>#{{ computer.inserter}}: {{ getCachedInserter(computer.inserter).name }}</td>
                            <td>#{{ computer.config }}</td>
                            <td @click="editComputer(computer.id)" title="Edit object">&#128295;</td>
                            <td @click="deleteItem(computer.id, 'computer', '#' + computer.id + ' computer ' + getCachedInserter(computer.computer).name + ' links to inserter #' + computer.inserter + ' (' + getCachedInserter(computer.inserter).name + ') with config #' + computer.config)" title="Remove object">&#10060;</td>
                        </tr>
                        <tr @click="addComputer()">
                            <td colspan="6">Add item</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <h3>
                    Configs
                </h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Config</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="config in configs">
                            <td>#{{ config.id }}</td>
                            <td>{{ config.config }}</td>
                            <td @click="editConfig(config.id)" title="Edit object">&#128295;</td>
                            <td @click="deleteItem(config.id, 'config', '#' + config.id + ' with config: ' + JSON.stringify(config.config))" title="Remove object">&#10060;</td>
                        </tr>
                        <tr @click="addConfig()">
                            <td colspan="4">Add item</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <h3>
                    Renderers
                </h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Renderer</th>
                            <th>Config</th>
                            <th>Start</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="renderer in renderers">
                            <td>#{{ renderer.id }}</td>
                            <td>{{ renderer.renderer }}</td>
                            <td>#{{ renderer.config}}</td>
                            <td @click="startRender(renderer.id)" title="Start render">&#9654;</td>
                            <td @click="editRenderer(renderer.id)" title="Edit object">&#128295;</td>
                            <td @click="deleteItem(renderer.id, 'renderer', '#' + renderer.id + ' renderer: ' + renderer.renderer)" title="Remove object">&#10060;</td>
                        </tr>
                        <tr @click="addRenderer()">
                            <td colspan="6">Add item</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <h3>
                    Renderfeatures
                </h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Renderer</th>
                            <th>Linked Inserter</th>
                            <th>Config</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="renderFeature in renderFeatures">
                            <td>#{{ renderFeature.id }}</td>
                            <td>#{{ renderFeature.renderer }} {{ getCachedInserter(renderFeature.renderer).name }}</td>
                            <td>#{{ renderFeature.inserter}} {{ getCachedInserter(renderFeature.inserter).name }}</td>
                            <td>#{{ renderFeature.config}}</td>
                            <td @click="editRenderFeature(renderFeature.id)" title="Edit object">&#128295;</td>
                            <td @click="deleteItem(renderFeature.id, 'renderfeature', '#' + renderFeature.id + ' links: renderer #' + renderFeature.renderer + ' to inserter #' + renderFeature.inserter)" title="Remove object">&#10060;</td>
                        </tr>
                        <tr @click="addRenderFeature()">
                            <td colspan="6">Add item</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <hr>
        </div>

        <div id="list-features" v-if="openListFeatures" @close="openListFeatures = false">
            <h2>📜 List features</h2>

            <input type="checkbox" id="list-features-feature" v-model="shownFeatures.feature">
            <label class="form-check-label" for="list-features-feature">Feature browser</label>
            <hr>

            <div v-if="shownFeatures.feature" @close="shownFeatures.feature = false">
                <h3>Feature browser</h3>

                <div>
                    <h5>Set query parameters</h5>

                    <form @submit.prevent="executeFeatureQuery">
                        <div class="form-group">
                            <label for="feature-browser-input-resultlimit">Result limit</label>
                            <input type="number" class="form-control" id="feature-browser-input-resultlimit" v-model="featureQuery.limit">
                        </div>

                        <div class="form-group">
                            <label for="feature-browser-input-offset">Offset</label>
                            <input type="number" class="form-control" id="feature-browser-input-offset" v-model="featureQuery.offset">
                        </div>

                        <div class="form-group">
                            <label>Entities</label><br>
                            <div v-for="entity in fetchedEntities" class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" v-model="featureQuery.entities" v-bind:value="entity.id" v-bind:id="'feature-browser-input-entity-' + entity.id">
                                <label class="form-check-label" v-bind:for="'feature-browser-input-entity-' + entity.id">{{ entity.name }}</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Locations</label><br>
                            <div v-for="location in fetchedLocations" class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" v-model="featureQuery.locations" v-bind:value="location.id" v-bind:id="'feature-browser-input-location-' + location.id">
                                <label class="form-check-label" v-bind:for="'feature-browser-input-location-' + location.id">{{ location.name }}</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Inserters</label><br>
                            <div v-for="inserter in inserters" class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" v-model="featureQuery.inserters" v-bind:value="inserter.id" v-bind:id="'feature-browser-input-inserter-' + inserter.id">
                                <label class="form-check-label" v-bind:for="'feature-browser-input-inserter-' + inserter.id">{{ inserter.name }}</label>
                            </div>
                        </div>
                    </form>

                    <p><button class="btn btn-primary" @click="executeFeatureQuery">🔍 Search</button></p>
                </div>

                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Entity</th>
                            <th>Location</th>
                            <th>Inserter</th>
                            <th>Value</th>
                            <th>Source</th>
                            <th>Internal id</th>
                            <th>Timestamp</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="feature in fetchedFeatures">
                            <td>#{{ feature.id }}</td>
                            <td>#{{ feature.entity }}</td>
                            <td>#{{ feature.location }}</td>
                            <td>#{{ feature.inserter }}</td>
                            <td>{{ feature.value }}</td>
                            <td>#{{ feature.internalid }}</td>
                            <td>#{{ feature.source }}</td>
                            <td>{{ feature.timestamp }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <script src="js/main.js"></script>
</body>
</html>